<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Hoarfrost</string>
	<key>CFBundleName</key>
	<string>Hoarfrost</string>
	<key>SUFeedURL</key>
	<string>https://github.com/wakmail/Hoarfrost/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>BkfNTeHSdcSq2kX0OqMgQZi8IiQfCi139YCAS7WIFW4=</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.wakmail.Hoarfrost</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>thaw</string>
			</array>
		</dict>
	</array>
	<key>ThawRepositoryURL</key>
	<string>https://github.com/wakmail/Hoarfrost</string>
	<key>ThawMenuBarItemSpacingExecutableURI</key>
	<string>file:///usr/bin/env</string>
</dict>
</plist>
